/micro-sys-routing/target/
/micro-sys-keycloak/target/
/micro-sys-routing/forklickroute.cmd
/micro-sys-keycloak/forklickusers.cmd
/micro-sys-keycloak/nbactions.xml
/micro-sys-keycloak/sys-keycloak-impl/target/
/micro-sys-keycloak/sys-keycloak-intf/target/
/app-props/target/
/$app-props(deprecated)/target
/micro-sys-keycloak/sys-keycloak-impl/nb-configuration.xml
/micro-lib-dto/target/
/micro-sys-routing/nbactions.xml
/micro-app-users/app-users-intf/target/
/micro-app-users/app-users-impl/target/
/micro-lib-utils/target/
/micro-sys-keycloak/sys-keycloak-impl/src/main/resources/ssl
/docker/services/keycloak/https/
/docker/services/keycloak/truststore/
/micro-app-users/app-users-impl/src/main/resources/ssl
/micro-app-users/app-users-impl/start.cmd
/micro-sys-keycloak/sys-keycloak-impl/start.cmd
/micro-app-users/app-users-impl/nbactions.xml
/openssl-CA/val
/micro-sys-config/encode/*.class